
__pycache__/
*.py[cod]
*.log
*.manifest
*.spec
db.sqlite3
  ##

# Soda is bad for you
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

