{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <script type="text/javascript" src="{% static  'css/jquery-3.5.1.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

        <title>{% block title %}Inpensa{% endblock %}</title>
        <link href="{% static  'css\sb-admin-2.min.css' %}" rel="stylesheet">
        <link href="{% static  'css\styles.css' %}" rel="stylesheet">

            <!-- Custom fonts for this template-->
        <link href="{% static  'css\all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">


</head>

<script>
    $.ajax({
        type: 'get',
        url: "/ajax/data_list",
        dataType: "json",
        data: {
            dsid: 0
        },
        error: function(xhr,textStatus,err){
        },
        success: function(data){
            data_obj = JSON.parse(data);
            var output1 = '';
            var output2 = '';
            $.each(data_obj, function(index, val){
                output1+='<a class="collapse-item" href="/view/?datasetid='+val["id"]+'" type="submit">'+val["name"]+'</a>';
                output2+='<a class="collapse-item" href="/edit/?dsid='+val["id"]+'" type="submit">'+val["name"]+'</a>';
            });
            $(document).find('.view').html(output1);
            $(document).find('.edit').html(output2);
        },
        failure: function(){
            alert('An error occured: Please try again');
        }
    });
    //$.each(data_list, function(index, val)) {}
    
</script>




<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 1vh; position: sticky; top:0">


            
            <!-- Sidebar Message -->
            <div class="sidebar-card" style="background-color: white; margin-top: 10px; padding-top: 10px; padding-bottom: 14px;">
                <img src="{% static 'media\Inpensa_Logo.png' %}" alt="Inpensa Software" class="responsive" style="width:100%; height:100%">
            </div>
            

            <!-- Sidebar - Brand -->
            
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/" style="padding-top: 2px">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">Welcome,<br>{{user.first_name}}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Items - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dash/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">



            <!-- Nav Items - Set List Views -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>View Portfolios</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div id= "view" class="bg-white py-2 collapse-inner rounded">
                        <div class="view"></div>
                        
                        
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">



            <!-- Nav Items - Set List Edits -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1"
                    aria-expanded="true" aria-controls="collapseUtilities1">
                    <i class="fas fa-edit"></i>
                    <span>Edit Portfolios</span>
                </a>
                <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div id ="edit" class="bg-white py-2 collapse-inner rounded">
                        <div class="edit"></div>
                        
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Logout -->
            <li class="nav-item">
                <a class="nav-link" href="/logout/">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span></a>
            </li>

        </ul>
        
        <!-- Makes Sidebar Dropdowns Work -->
        <script src="{% static  'css\bootstrap.bundle.min.js' %}"></script>
        <script src="{% static  'css\sb-admin-2.min.js' %}"></script>
        <!-- End of Sidebar -->



        <!-- Main Content -->        
    <div id="fullbody">
        <button style="margin-top: 8px; margin-left: 2px; color: gray; background-color: white; width: 2.5vw; font-size: 26px; text-align: center; padding: 2px; border-radius: 24px" onclick="hideBar()">☰</button> <!-- old blue: #4e73df -->

        <script>
            function hideBar() {
              var x = document.getElementById("accordionSidebar");
              if (x.style.display === "none") {
                x.style.display = "block";
                //document.getElementByID("content-wrapper").style.width = "96vw";
                //document.getElementsByClassName("tbl_user_data").style.width = "94vw"
              } else {
                x.style.display = "none";
                //document.getElementByID("content-wrapper").style.width = "88vw";
                //document.getElementsByClassName("tbl_user_data").style.width="85vw";
              }
            }
            </script>

        {% block content %}
        {% endblock %}
    </div>
    </div>
</body>
</html>